modules = ["nodejs-20", "web", "lua-5.2"]
[agent]
expertMode = true
stack = "FULLSTACK_JS"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["node", "./dist/index.cjs"]

[userenv]

[userenv.shared]
PORT = "5000"
MONGODB_URI = "mongodb+srv://rf-purfume:ASDqwe123@perfume.txcy7zh.mongodb.net/?appName=Perfume"
SMTP2GO_SENDER = "noreply@rfperfume.sa"
SMTP2GO_SENDER_NAME = "رفيف"
SMTP2GO_API_KEY = "api-35DF1F4ED1CC44F6BC415BB69FC3371E"
STORE_CR_NUMBER = "1010978041"
STORE_TAX_NUMBER = "312037024200003"
EMAIL_SENDER = "noreply@rfperfume.sa"
EMAIL_SENDER_NAME = "رفيف العود"
GROQ_API_KEY_CUSTOMER = "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"
GROQ_API_KEY_EMPLOYEE = "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"
GROQ_API_KEY_2 = "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"
GROQ_API_KEY_3 = "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"
GROQ_API_KEY_4 = "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"
GROQ_API_KEY_5 = "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"
GROQ_API_KEY_6 = "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"
GROQ_API_KEY_7 = "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"
GROQ_API_KEY_8 = "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"
GROQ_API_KEY_9 = "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"
GROQ_API_KEY_10 = "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"
GROQ_API_KEY_11 = "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"
STORAGE_STATION_API_KEY = "331c22d5eadf73ae48e5c0ba63f5d8ac7f67fbe9"
STORAGE_STATION_API_SECRET = "a2e0113bf89fa0b409747fd5fb25f91739558004"
STORAGE_STATION_STORE = "rfperfume"
PAYMOB_API_KEY = "ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRZME1UY3NJbTVoYldVaU9pSnBibWwwYVdGc0luMC5kZkphdFkxdlFvVWlNdmtyQ05hMTZtWFBnU0hnV3hjR180Z0E3bjgwbU83Sm5OTFdlLWZ2N2FZT3FqQ210eGh6MEdyTERSV3l0Y1lodVhYV1BLX29rdw"
PAYMOB_HMAC_SECRET = "205DDFC6A04AE8D02BEBA23DCB4FB533"
PAYMOB_INTEGRATION_ID = "21377,21376"
PAYMOB_PUBLIC_KEY = "sau_pk_live_FXaPQ9GEDZd2e11jqFWorxywQFAmpOTC"
PAYMOB_SECRET_KEY = "sau_sk_live_c6b010afd167ab022790d265f1dc0dc6ddc69d8374a949b4b3b33ccde16aae69"
PICATIC_API_KEY = "sk_live_c6b010afd167ab022790d265f1dc0dc6"
SHIPOX_PASSWORD = "u59CQEyXwac@XsN"
SHIPOX_USERNAME = "firstrafiff@gmail.com"
TABBY_MERCHANT_CODE = "pk_test_019bd6a8-bb31-56ab-60f5-a217ba133591"
TABBY_SECRET_KEY = "sk_test_019bd6a8-bb31-56ab-60f5-a217e8996915"
TABBY_WEBHOOK_SECRET = "sk_019bd6a8-bb31-56ab-60f5-a216da4e2f13"
TAMARA_API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhY2NvdW50SWQiOiI5ZjgwNDg5MS03Y2EyLTRhZDQtOTRmYy1jYWU2MWM1OGRlNDMiLCJ0eXBlIjoibWVyY2hhbnQiLCJzYWx0IjoiOTJiYTFjZTUtMjJjYS00YmVlLTgzM2EtZTI5YTI4ZWQ3NWU0Iiwicm9sZXMiOlsiUk9MRV9NRVJDSEFOVCJdLCJpc010bHMiOmZhbHNlLCJpYXQiOjE3MzQ3ODkyNjcsImlzcyI6IlRhbWFyYSBQUCJ9.WYomd78H9L_mgrM8Np2v6-UlWvIKj7tNx1hrmqe51MVOgKKR28NWfnTy8GqFw7Yg3pvej7SHqc3IyzLjtDdIgvp04D5MUShHzRa5ihzmkmK8okq_QCnigGlv0xOFuh1zCQ8jL5n_-Hmax5DGJsI4u-Ub88v3igpHUsod3TT7bh_6XPS9IC1vmmzfmu0y-e9c9BIo8G2heDHGhObKiE2cpwAp_g-Nk7MIJxk5SjfmEvSO7utUcil-HRLekZ8IiiK4qnlDlmudeU_lOVSHxuutJzzGtQFHGPZSdf8asnWP-u-7G6iC5DOUBlGrVWw_gHmA71Xf7xS1MY5-cUhBTXPvPg"
TAMARA_NOTIFICATION_TOKEN = "480803c1-5d08-4c5e-b05f-1278b070599e"
TAMARA_PUBLIC_KEY = "68bb70b9-3b14-48ee-a574-e7aacc46af3b"
TABBY_PUBLIC_KEY = "pk_019bd6a8-bb31-56ab-60f5-a2165571b099"
