modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
stack = "FULLSTACK_JS"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["node", "./dist/index.cjs"]

[userenv]

[userenv.shared]
PORT = "5000"
MONGODB_URI = "mongodb+srv://rf-purfume:ASDqwe123@perfume.txcy7zh.mongodb.net/?appName=Perfume"
SMTP2GO_SENDER = "noreply@rfperfume.sa"
SMTP2GO_SENDER_NAME = "رفيف"
SMTP2GO_API_KEY = "api-35DF1F4ED1CC44F6BC415BB69FC3371E"
STORE_CR_NUMBER = "1010978041"
STORE_TAX_NUMBER = "312037024200003"
EMAIL_SENDER = "noreply@rfperfume.sa"
EMAIL_SENDER_NAME = "رفيف العود"
GROQ_API_KEY_CUSTOMER = "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"
GROQ_API_KEY_EMPLOYEE = "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"
